body {
    background-color: white;
    font-family: sans-serif;
}
p {
    display: block;
}

h1 {
    color: #05ADC4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05ADC4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}


li a:hover {
    background-color: #F8A424 ;
}

.tableImage {
    width: 100px;
    text-align: center;
}

table {
    color: #05ADC4;
    border-collapse: collapse;
    border: 5px solid #05ADC4;
    width: 75%;
    height: 75%;
    background-color: white;
    margin: auto;
}
th {
    background-color: #05ADC4;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid #05ADC4;

}

.tableDataPicture {
    text-align: center;
    width: 110px;
}

.tableDataTool {
    width: 100px;
    white-space:nowrap;
}

#nextArrow {
    text-decoration: none;
    padding: 8px 16px;
    position: relative;


}

#nextArrow:hover {
    background-color: #F8A424;
}

#previousArrow {
    text-decoration: none;
    padding: 8px 16px;


}

#previousArrow:hover {
    background-color: #F8A424;
}


.previous {
    background-color: #05ADC4;
    color: white;
}

.next {
    background-color: #05ADC4;
    color: white;
}

.round {
    border-radius: 50%;
}

.desc {
    max-width:400px
}

#iframeDiv {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
iframe {
    height: 400px;
    width: 100%;
    resize: both;
    overflow: auto;
}

.navPage{
    text-align: center;
    padding: 10px;
}

#vgPic{
    border: 5px solid #05ADC4;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#vgPic2{
    border: 5px solid #05ADC4;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ggmapPhoto {
    border: 5px solid #05ADC4;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#genderPic{
    border: 1px solid #05ADC4;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mainContent{
    margin-left:5%;
    width: 75%;
}

