body {
    background-color: #83DCEB;
    font-family: sans-serif;


}
p {
    display: block;
}

h1 {
    color: #05ADC4;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05ADC4;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
}


li a:hover {
    background-color: #F8A424 ;
}

.tableImage {
    width: 100px;
    text-align: center;
}

table {
    color: #05ADC4;
    border-collapse: collapse;
    border: 5px solid #05ADC4;
    width: 100%;
    background-color: white;
}
th {
    background-color: #05ADC4;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid #05ADC4
}

.tableDataPicture {
    text-align: center;
    width: 110px;
}

#centerWhite {
    padding: 2rem;
    background-color: white;
}

.tableDataTool {
    width: 100px;
    white-space:nowrap;
}

